/*
********************************************login page*********************************************************88
*/
.login{
		display: inline-block;
    text-align: center;
}

.divLogin{
	margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
}

.backColor{
	background: #438cf9;
}

.title{
	color: white;
	font-family: calibri;
}

.titleH1{
	font-size: 40px;

}

.loginbutton{
    vertical-align:right;
}

.childDiv{
    margin-right:10px;
    float:left;
}



/*
********************************************main menu page*********************************************************88
*/

body{
	background-color:  #F6F6F6;
	margin: 0;
}

.topnav {
	background-color: #438cf9;
	overflow: hidden;
	margin-left: 250px;
  height: 20%;
}

.topnav h1{
	font-family: Arial;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #438cf9;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav button{
	background-color: #0066ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
		width: 80%;
		margin-left: 24px;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav p{
	color: black;
	text-align: center;
	font-size: 20px;
}

.sidenav img {
	margin-left: 14px;
}

.mainmenu {
    margin-left: 250px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.box1{
    background-color: white;
    width: 100px;
		height: 80px;
    border: 25px solid #0066ff;;
    padding: 25px;
    margin: 25px;
		float: left;
		box-shadow: 10px 10px;
}

.box1 p {
	text-align: center;
	color: black;
}

.container {
	margin-left: 450px;
	font-size: 130%;
	margin-top: 40px;
}

.tbl {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: 0px;
}

.tbl td, .tbl th {
        border: 1px solid #ddd;
        padding: 8px;
}

.tbl tr:nth-child(even){background-color: #f2f2f2;}

.tbl tr:hover {background-color: #ddd;}

.tbl th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4485e5;
        color: white;
}

.button {
    background-color: #2256a3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tbl_in_consult {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-left: 0px;
}

.text_format{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


/*
********************************************main menu*********************************************************88
*/
